{% extends 'base.html.twig' %}

{% block title %}{{ material.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ material.titre }}</h1>
                <img src="{{ material.getImagePath() }}" alt="{{ material.titre }}" class="img-fluid">
                <p>{{ material.description }}</p>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Badge: {{ material.badge }}</li>
                    <li class="list-group-item">Salle: {{ material.salle }}</li>
                    <li class="list-group-item">Localité: {{ material.localite }}</li>
                    <li class="list-group-item">Nombre: {{ material.nombre }}</li>
                    <li class="list-group-item">Identifiant: {{ material.identifiant }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
