{% extends 'base.html.twig' %}

{% block title %}Liste des matériaux{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="h3 mb-2">Liste des matériaux</h1>

                            {% for message in app.flashes('succes') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div>
                                <a href="{{ path('admin_materials') }}" class="btn btn-sm btn-primary-soft">Ajouter du matériel</a>
                                <a href="{{ path('admin_dashboard') }}" class="btn btn-sm btn-secondary">Retour</a>
                            </div>
                        </div>
                        <div class="table-responsive mt-3">
                            <!-- Table START -->
                            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover w-100 text-center">
                                <!-- Table head -->
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">Image</th>
                                    <th scope="col" class="border-0">ID</th>
                                    <th scope="col" class="border-0">Nom du matériel</th>
                                    <th scope="col" class="border-0">Salle</th>
                                    <th scope="col" class="border-0">Slug</th>
                                    <th scope="col" class="border-0">Nombres</th>
                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                </tr>
                                </thead>
                                <!-- Table head END -->
                                <!-- Table body START -->
                                <tbody>
                                {% for material in materials %}
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <div class="w-60px">
                                            <!-- Title -->
                                            <img src="{{ asset('assets/images/uploads/materials/' ~ material.filename) }}" alt="{{ material.filename }}"  class="card-img-top" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center position-relative">
                                            <!-- Title -->
                                            <h6 class="table-responsive-title mb-0 ms-2">
                                                {{ material.id }}
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center position-relative">
                                            <!-- Title -->
                                            <h6 class="table-responsive-title mb-0 ms-2">
                                                {{ material.titre }}
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center position-relative">
                                            <!-- Title -->
                                            <h6 class="table-responsive-title mb-0 ms-2">
                                                {{ material.salle }}
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center position-relative">
                                            <!-- Nombre -->
                                            <h6 class="table-responsive-title mb-0 ms-2">
                                                {{ material.slugs }}
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center position-relative">
                                            <!-- Nombre -->
                                            <h6 class="table-responsive-title mb-0 ms-2">
                                                {{ material.nombre }}
                                            </h6>
                                        </div>
                                    </td>

                                    <td>
                                        <a href="{{ path('material_details', {'id': material.id}) }}" class="btn btn-sm btn-warning-soft me-1 mb-1 mb-md-0">Détails</a>
                                        <a href="{{ path('admin_materials_edit', {'id': material.id}) }}" class="btn btn-sm btn-success-soft me-1 mb-1 mb-md-0">Modifier</a>
                                        <a href="{{ path('admin_materials_delete', {'id': material.id}) }}" class="btn btn-sm btn-danger-soft mb-0" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')">Supprimer</a>
                                    </td>


                                    {% endfor %}
                                </tr>
                                </tbody>
                                <!-- Table body END -->
                            </table>
                            <!-- Table END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
